<%# <%= simple_form_for([ @task],
                      data: { edit_deadline_target: "formDets",
                      action: "submit->edit-deadline#send"
                      }) do |f| %>
  <%# <div class="eded">
    <%= f.input :deadline, label: "Preferred deadline"%>
    <%# <%= f.button :submit, "Set Deadline", value: "Set Deadline" %>
  <%# </div>
<% end %>

<div class="container">
  <div class="form-wrapper" style="width: 300px; margin: 0 auto;">
  <%# <div class="edit-close">
    <i class="fa fa-times"></i>
  </div> %>
    <h2><%= @task.chore.name %></h2>

    <%= simple_form_for([@task],
                      data: { edit_deadline_target: "formDets",
                      action: "submit->edit-deadline#send"
                      }) do |f| %>
      <%= f.input :deadline, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%# <div class="d-flex w-100 justify-content-around"> %>
      <div class="d-flex" style="justify-content: space-around">
        <%= f.button :submit, "Set deadline", class: "btn btn-success green-mark" %>
        <a class="btn btn-secondary cancel-neutral" id="edit-close">Close</a>

      </div>
      <%# </div> %>

    <% end %>
  </div>
</div>
