<%# <%= render "template" %>
<div class="cards-frame tabcontent" id="incomplete">
  <div class="chore-list-header">
    <h1 class="chore-list-title">Incompleted chores</h1>
  </div>
  <!-- Slider main container -->
  <div class="swiper1" data-controller="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% if @incomplete.blank? %>
      <div class="swiper-slide overdue-img" >
        background
      </div>
      <% else %> <% @incomplete.each do |task| %>
      <div class="swiper-slide">
        <div class="card" data-controller="mark-complete">
          <div class="d-flex">
            <div class="vl" style="background-color: #F46262"></div>

            <div class="card-body">
              <div class="card-title">
                <h4
                  data-mark-complete-target="chore"
                  data-value="<%= task.chore.name %>"
                >
                  <%= task.chore.name.capitalize %>
                </h4>
              </div>
              <div class="card-duration">
                <p>
                  <i class="fa-solid fa-clock-rotate-left"></i> Takes <%=
                  task.chore.duration %>mins <br />
                </p>
                <p>
                  Dued since <br />
                  <%= task.deadline.strftime("%A, %d/%m/%y") %>
                </p>
              </div>
              <div class="card-mark-complete">
                <div
                  class="btn btn-success green-mark"
                  data-mark-complete-target="tick"
                  data-action="click->mark-complete#mark"
                  data-value="<%= task.id %>"
                >
                  Mark complete
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %> <% end %>
    </div>
    <!-- If we need pagination -->
    <div class=".pagination-swiper1"></div>
  </div>
</div>
