<%# <%= render "template" %>
<div class="cards-frame tabcontent" id="incomplete">
  <div class="chore-list-header">
    <h1 class="chore-list-title">Incompleted chores</h1>
  </div>
  <!-- Slider main container -->
  <div class="swiper1" style="height:285px" data-controller="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% if @incomplete.blank? %>
      <div class="swiper-slide overdue-img" style="background-image: url('https://images.unsplash.com/photo-1519834785169-98be25ec3f84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');background-size: cover;">
        Great job! No incomplete chore!
      </div>
      <% else %> <% @incomplete.each do |task| %>
      <div class="swiper-slide">
        <div class="card" data-controller="mark-complete">
          <div class="d-flex">
            <div class="vl" style="background-color: #F46262"></div>

            <div class="card-body">
              <div class="card-title">
                <h4 style="font-size: 24px;margin: 0.5em 0;"
                  data-mark-complete-target="chore"
                  data-value="<%= task.chore.name %>"
                >
                  <%= task.chore.name.capitalize %>
                </h4>
              </div>
              <div class="card-duration">
                <p>
                  <i class="fa-solid fa-clock-rotate-left"></i> Takes <%=
                  task.chore.duration %>mins <br />
                </p>
                <p>
                  <i class="fa-solid fa-calendar"></i> Due since
                  <%= task.deadline.strftime("%a, %d/%m/%y") %>
                </p>
              </div>
              <div class="card-mark-complete">
                <div
                  class="btn btn-success green-mark"
                  data-mark-complete-target="tick"
                  data-action="click->mark-complete#mark"
                  data-value="<%= task.id %>"
                  data-title="<%= task %>"
                  data-bs-toggle="modal" data-bs-target="#exampleModal"
                >
                  Mark complete
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %> <% end %>
    </div>
    <!-- If we need pagination -->
    <div class=".pagination-swiper1"></div>
  </div>
</div>
