<%# <%= render "template" %>
<div class="cards-frame tabcontent" id = "to-do">
  <h1>Chores to do now</h1>
<!-- Slider main container -->
<div class="swiper2" >
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% if @to_do.blank? %>
      <div class="swiper-slide"> No chores to display</div>
    <% else %>
    <% @to_do.each do |task| %>
<div class="swiper-slide">
        <div class="card" data-controller="mark-complete edit-deadline">
          <div class="card-title">
            <h2 data-mark-complete-target="chore" data-value="<%= task.chore.name %>"><%= task.chore.name %></h2>
          </div>
          <div class="card-duration">
            <p>Takes <%= task.chore.duration %>mins</p>
          </div>
          <div class="card-deadline bg-warning bg-gradient">
            <div class="timing"><p><%= task.deadline.strftime("%A, %d %b %Y") %></p></div>
            <div class="edit-icon" data-edit-deadline-target="edit" data-action= "click->edit-deadline#openForm">
              <i class='fas fa-edit' style='font-size:36px'></i>
            </div>
          </div>
          <div class="card-mark-complete">
            <div class="btn btn-success" data-mark-complete-target="tick" data-action= "click->mark-complete#mark" data-value="<%= task.id %>">Mark as complete</div>
          </div>
        <div class="d-none" data-edit-deadline-target="form"><%= render "edit_deadline", locals: {task: @task=task} %></div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination2"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>


  <!-- If we need scrollbar -->
  <%# <div class="swiper-scrollbar"></div> %>
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
const swiper2 = new Swiper(".swiper2", {
  // Optional parameters
  direction: "horizontal",
  effect: "cards",
  grabCursor: true,

  // If we need pagination
  pagination: {
    el: ".swiper-pagination2",
  },

  // Navigation arrows
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },

  // And if we need scrollbar
  // scrollbar: {
  //   el: ".swiper-scrollbar",
  // },
});
</script>
</div>
</div>
