<!-- Button trigger modal -->
<button type="button" <%= status %> class="btn-orange" data-bs-toggle="modal" data-bs-target="#exampleModal" id="confirm_btn">
  Confirm
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= Chore.create_defaults(@flat.id) %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="color: #fb723b;">
        <h5 class="modal-title" id="exampleModalLabel">Time to setup your flat's chore</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer" style="color: grey;">
        <span>
          Would you like to select from our chore list or create all from scratch?
        </span>
      <div class="btn-container d-flex gap-3 mt-3">
        <button type="button" class="btn btn-warning" id="<%= Chore.last(7).map {|chore| chore.id}.join(" ") %>" data-action="click->add-flatmates#destroyPreset">
          <%= link_to "Create from scratch", setup_chores_flat_path(@flat), style: 'color: white; font-size:14px;' %>
        </button>
<<<<<<< HEAD
        <button type="button" class="btn-orange">
          <%= link_to setup_chores_flat_path(@flat), style: 'color: white;' do %>
            <p style="font-size: 14px; margin: 0" >Select from list</p>
          <% end %>
=======
        <button type="button" class="btn btn-warning">
          <%= link_to "Select from preset list" ,setup_chores_flat_path(@flat), style: 'color: white; font-size:14px;' %>
>>>>>>> master
        </button>
      </div>
      </div>
    </div>
  </div>
</div>
