<div class="user-card">
  <div class="card-top d-flex">
    <div>
      <%= image_tag "fakeavatar.jpg", class: "avatar-large" %>
    </div>
    <h2 class="mb-0 pt-2"><%= user.name %></h2>
  </div>
  <div class="card-info">
    <p><%= user.chore_lists.count - user.chore_lists.where("complete = true").count %> chores remaining</p>
    <p><%= user.chore_lists.where("complete = true").count %> chores completed</p>
    <p><%= user.chore_lists.where("deadline < ?", @date).count %> chores overdue</p>
  </div>
  <div class="card-bottom">
    <p>19 days remaining till july</p>
  </div>
</div>
