<div class="user-card">
  <div class="card-top d-flex">
    <%= render partial: "shared/avatar_large", locals: { user: user } %>
    <h2 class="mb-0 pt-2"><%= user.name %></h2>
  </div>
  <div class="card-info">
    <p><%= user.chore_lists.count - user.chore_lists.where("complete = true").count %> chores remaining</p>
    <p><%= user.chore_lists.where("complete = true").count %> chores completed</p>
    <p><%= user.chore_lists.where("deadline < ?", @date).count %> chores overdue</p>
  </div>
  <div class="card-bottom">
    <p><%= Time.days_in_month(Time.now.month, Time.now.year) - Time.now.day %> days remaining till july</p>
  </div>
</div>
