<div class="user-card">
  <div class="d-flex justify-content-between">
    <div class="card-left">
      <%= render partial: "shared/avatar_xlarge", locals: { user: user } %>
    </div>
    <div class="card-right">
      <h2 class="mb-0"><%= user.name %></h2>
      <div class="card-info">
        <p><%= user.chore_lists.count - user.chore_lists.where("complete = true").count %> remaining chores</p>
        <p><%= user.chore_lists.where("complete = true").count %> completed chores</p>
        <p><%= user.chore_lists.where("deadline < ?", @date).where("complete != true").count %> overdue chores</p>
      </div>
    </div>
  </div>
  <hr class="bottom-line">
</div>
