<div class="background-image d-flex flex-column justify-content-center">
  <h1 class="text-center text-white mb-1" style="margin-top: 0">Welcome to <%= @flat.name.capitalize %> </h1>
  <div id="flatmate-container" class="container" data-controller="add-flatmates" data-add-flatmates-flatid-value="<%= params[:id] %>">
    <h3>Add your Roommate</h3>
    <ul style="padding: 0px" data-add-flatmates-target="lists">
      <% @users.each do |user| %>
        <% if user != current_user %>
          <%= render 'email_li', user: user %>
        <% end %>
      <% end %>
    </ul>
    <%# Render users form %>
    <%= render 'users/form', flat: @flat, user: @roommate %>
    <div data-add-flatmates-target="alert"></div>
    <!-- Button trigger modal -->
    <% if @users.count > 1 %>
      <%= render 'confirm', status: "" %>
    <% else %>
      <%= render 'confirm', status: "disabled" %>
    <% end %>
  </div>
</div>

<%# should be able to lead us add_chores page after here %>
