<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logocolor.png" %>
    <% end %>



    <div class="collapse navbar-collapse flex-grow-1 justify-content-between" id="navbarSupportedContent">
      <% if user_signed_in? && current_user.flats.count == 0 %>
        <%# Navbar if logged but have no flat yet %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <li class="nav-item dropdown">
            <div class="dropdown-toggle" id ="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= render partial: "shared/avatar_small", locals: { user: current_user } %>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% elsif user_signed_in? && current_user.flats.count > 0 %>
        <%# Navbar if logged in and have flat %>
          <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <%= link_to "My preferences", preferences_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My flat's chores", chores_path(current_user.flats.first), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My roommates", flat_path(current_user.flats.first), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My chores", chore_list_index_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Edit profile", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          </ul>
        <%# Navbar if not logged in yet %>
      <% else %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
    </div>

    <%# toggle %>
    <div data-bs-toggle="collapse" type="button" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <%= render partial: "shared/avatar_small", locals: { user: current_user } %>
    </div>

  </div>
</div>
