<div class="container text-center" data-controller="preferences">
  <div class="notif mb-3" data-preferences-target="notif">
    <p style="display: inline-block;margin: auto;">Your preferences has been saved</p><button class="btn btn-danger btn-sm mx-3" data-action="click->preferences#closeNotif">X</button>
  </div>
  <h2>Rate your Chores</h2>

  <% @preferences.each do |preference| %>
    <div class="rating_card" data-preferences-target="prefCard">
      <div class="parent">
        <div class="child1">
          <%= simple_form_for(preference, data: { preferences_target: "prefForm"}) do |f| %>
            <%= f.input :rating %>
          <% end %>
        </div>
        <div class="child1 child2">
          <h4><%= preference.chore.name %></h4>
          <p>occurs <%= pluralize( preference.chore.repetition, 'time' ) %> <%= preference.chore.frequency %> |
          <% if preference.chore.duration < 60 %>
            takes <%= pluralize( preference.chore.duration, 'min' ) %>
          <% else %>
            takes <%= (preference.chore.duration/60).to_i %> h
            <% if (preference.chore.duration/60.0).modulo(1) > 0 %>
              <%= pluralize( (((preference.chore.duration/60.0).modulo(1))*60).to_i, 'min' ) %>
            <% end %>
          <% end %></p>

          <!-- Unhappy - Rating = 1 -->
          <i id="<%= preference.id %>-unhappy-1"
          style="color: <%= preference.rating == 1 ? 'red' : 'black' %>"
          class="fa-light fa-face-frown fa-3x mx-3"
          data-action="click->preferences#color_red"></i>
          <!-- Neutral - Rating = 2 -->
          <i id="<%= preference.id %>-neutral-2"
          style="color: <%= preference.rating == 2 ? 'orange' : 'black' %>"
          class="fa-light fa-face-meh fa-3x mx-3"
          data-action="click->preferences#color_orange"></i>
          <!-- Happy - Rating = 3 -->
          <i id="<%= preference.id %>-happy-3"
          style="color: <%= preference.rating == 3 ? 'green' : 'black' %>"
          class="fa-light fa-face-smile fa-3x mx-3"
          data-action="click->preferences#color_green"></i>
        </div>
      </div>
    </div>
  <% end %>

  <div class="fixed-bottom mx-3">
    <button type="button"
    class="btn btn-primary btn-sm"
    data-action="click->preferences#update"
    style="float: right;">Save</button>
  </div>

  <!--<%= link_to "room8 page", flat_path(@flat.first) %>-->
</div>
