<div class="chore_card_selected" id="chore-<%= chore.id %>" data-action="click->setup-chores#highlight" data-setup-chores-target="choreCard">
  <h4><%= chore.name %></h4>
  <div class="chore_details_selected">
    <p>occurs <%= pluralize( chore.repetition, 'time' ) %> <%= chore.frequency %></p>
  </div>
  <div class="chore_details_selected">
    <% if chore.duration < 60 %>
      <p>takes <%= pluralize( chore.duration, 'min' ) %></p>
    <% else %>
      <p>takes <%= (chore.duration/60).to_i %> h
      <% if (chore.duration/60.0).modulo(1) > 0 %>
        <%= pluralize( ((chore.duration/60.0).modulo(1))*60, 'min' ) %></p>
      <% end %>
    <% end %>
  </div>
  <div class="chore_edit_button_display" data-setup-chores-target="editBtn">
    <p>Edit</p>
  </div>
</div>
