<%= simple_form_for(chore,
                  data: {
                  setup_chores_target: "editForm",
                  action: "submit->index-chores#update"
                  }) do |f| %>
  <div class="modal-body">
    <%= f.input :name %>
    <%= f.input :frequency, label: "Happens", collection: %w(daily weekly monthly), class: "mx-3" %>
    <%= f.input :repetition, label: false %>
    <%= f.input :duration, :label => "Minutes taken to perform chore" %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-action="click->index-chores#editModalClose">Close</button>
    <%= f.button :submit, "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
