<!-- Modal portion -->
<%= simple_form_for(chore,
                    data: {
                    setup_chores_target: "form",
                    action: "submit->setup-chores#send"
                    }) do |f| %>
  <div class="modal-body">
    <%= f.input :name %>
    <%= f.input :repetition, label: "Happens" %>
    <%= f.input :frequency, collection: %w(daily weekly monthly), label: false, class: "mx-3" %>
    <%= f.input :duration, :label => "Minutes taken to perform chore" %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-action="click->setup-chores#modalClose">Close</button>
    <%= f.button :submit, "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
<!-- End of Modal -->
