<div class="container my-3" data-controller="setup-chores" data-setup-chores-flatid-value="<%= params[:id] %>">
  <div class="d-flex">
    <h2 class="header"><%= @flat.name %>'s chores</h2>
  </div>

  <% if current_user.preferences.nil? %>
    <div class="animate__animated animate__fadeIn d-flex justify-content-between" id="notification">
      <div style="width: 300px;">
        <p>You have not rated your chore preferences. <br><span style="text-decoration: underline;color: #f02d34;"><%= link_to "Go to my chore preferences", preferences_path %></span></p>
      </div>
      <div class="align-self-center" data-action="click->setup-chores#close">
        <i class="fa-solid fa-xmark-large"></i>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-between mb-3">
    <button class="btn btn-warning" style="color: white;font-weight: bolder;border-radius: 18px;font-size: 12px;"><%= link_to "Re-assign chores", chore_list_index_path({assign: true}) %></button>
    <button class="btn btn-warning btn-sm" style="float: right;color: white;width: 35px;" data-action="click->setup-chores#addChore">
    <i class="fa-solid fa-plus-large"></i>
    </button>
  </div>

  <div class="chores" data-setup-chores-target="choresList">
    <% @chores.each do |chore| %>
      <%# Card %>
      <%= render partial: "chore", locals: {chore: chore} %>
      <%# Edit chore %>
      <div id="edit-chore-<%= chore.id %>-modal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Chore</h5>
              <button type="button" data-action="click->setup-chores#editModalClose" class="btn-close" aria-label="Close"></button>
            </div>
            <%= render partial: "editchore", locals: {chore: chore} %>
          </div>
        </div>
      </div>
      <%# End of card %>
    <% end %>
  </div>
  <%# Add chore %>
  <div id="addChoreModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Chore</h5>
          <button type="button" data-action="click->setup-chores#modalClose" class="btn-close" aria-label="Close"></button>
        </div>
      <%= render partial: "newchore", locals: {chore: @chore} %>
    </div>
  </div>
</div>
