<div class="container setup" data-controller="setup-chores" data-setup-chores-flatid-value="<%= params[:id] %>">
  <h2 style="display: inline-block;">Setup your chores</h2>
  <button class="btn btn-warning btn-sm" style="float: right;color: white;width: 35px;" data-action="click->setup-chores#addChore">+</button>

  <!-- Display all chores -->
  <div class="chores" data-setup-chores-target="choresList">
    <% @chores.each do |chore| %>
    <div class="chore_card" id="chore-<%= chore.id %>"
    data-action="click->setup-chores#highlight"
    data-setup-chores-target="choreCard">
      <h4><%= chore.name %></h4>
      <div class="chore_details">
        <p><i class="fa-solid fa-calendar"></i> <%= pluralize( chore.repetition, 'time' ) %> <%= chore.frequency %></p>
        <% if chore.duration < 60 %>
          <p><i class="fa-solid fa-clock-rotate-left"></i> takes <%= pluralize( chore.duration, 'min' ) %></p>
        <% else %>
          <p><i class="fa-solid fa-clock-rotate-left"></i> takes <%= (chore.duration/60).to_i %> h
          <% if (chore.duration/60.0).modulo(1) > 0 %>
            <%= pluralize( (((chore.duration/60.0).modulo(1))*60).to_i, 'min' ) %></p>
          <% end %>
        <% end %>
      </div>
      <div class="chore_edit_button" data-action="click->setup-chores#editFormAppear">
        <p>Edit</p>
      </div>
    </div>
    <!-- Modal for edit chore -->
    <div id="edit-chore-<%= chore.id %>-modal" class="modals" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Chore</h5>
            <button type="button" data-action="click->setup-chores#editModalClose" class="btn-close" aria-label="Close"></button>
          </div>
          <%= render 'editchore', chore: chore %>
        </div>
      </div>
    </div>
    <!-- End of Modal -->
    <% end %>
  </div>

  <!-- Modal for new chore -->
  <div id="addChoreModal" class="modals" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Chore</h5>
          <button type="button" data-action="click->setup-chores#modalClose" class="btn-close" aria-label="Close"></button>
        </div>
        <%= render 'newchore', chore: @chore %>
      </div>
    </div>
  </div>
  <!-- End of Modal -->


  <div class="fixed-bottom mx-3">
    <button type="button"
    class="btn btn-warning"
    role="button"
    data-action="click->setup-chores#destroy_unselected"
    style="float: right;color: white;">Confirm</button>
  </div>
</div>
