<!DOCTYPE html>
<html>
  <head>
    <title>Room8</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="icon" href="<%= image_path("logocolorsm.png") %>">

  </head>

  <body data-controller="user-guide">
    <div class="shadow">
      <%= render 'shared/navbar' %>
    </div>
    <div class="my-3">
      <div style="position: absolute; top: 58px">
        <%= render 'shared/flashes' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
